@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Oswald:400,700|Playfair+Display';


body{
  background-image: url('_imgs/bg-color.jpg');
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;

  &::after{
    content: '';
    position: absolute;
    height: 645px;
    width: 100%;
    bottom: 0;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("_imgs/bg-mountainrange.png");
  }
}

.container{
  max-width: 1024px;
  margin: 0 auto;
}

header{
  .menu{
    ul{
      list-style-type: none;
      li{
        display: inline;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        padding: 10px;
      }
    }
  }
}

img{
  max-width: 1000px;
  height: auto;
}

#logo{
  margin: 40px auto;
  display: block;
  max-width: 150px;
}

.carousel{
  max-width: 700px;

  img{
    width: 100%;
  }
}
