
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Oswald:400,700|Playfair+Display';
// @import "../..";

body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#043344+0,04465e+40,08607b+100 */
  background: #043344; /* Old browsers */
  background: -moz-linear-gradient(top,  #043344 0%, #04465e 40%, #08607b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #043344 0%,#04465e 40%,#08607b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #043344 0%,#04465e 40%,#08607b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#043344', endColorstr='#08607b',GradientType=0 ); /* IE6-9 */

  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
  color: white;

  // &::after{
  //   content: '';
  //   position: absolute;
  //   height: 500px;
  //   width: 100%;
  //   bottom: 0;
  //   background-image: url("imgs/bg-mountainrange_trim.png");
  //       @include background(bottom, cover, no-repeat);
  // }
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#content{
  height: 65vh;
  overflow: scroll;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
}

header{
  .menu{
    ul{
      list-style-type: none;
      text-align: center;
      padding: 0;
      li{
        display: inline;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        padding: 10px;

        a{
          color: white;
        }
      }
    }
  }
}

img{
  width: 100%;
}

#logo{
  margin: 40px auto;
  display: block;
  max-width: 100px;
}

@font-face {
    font-family: BebasBold;
    src: url('fonts/bebasneue_bold.otf');
}

.col-md-6{

}

.welcomemsg{
  text-align: justify;
}

section{
  &>div{
    margin: 10px 0;
  }
}

  .right{
    border-bottom: 10px solid white;
    padding: 0;
    // margin-top: 10px;

    h2{
      font-family: BebasBold;
      font-size: 155px;
      text-align: center;
      line-height: 145px;
      margin-top: 0px;

      span{
        font-size: 170px;
        line-height: 125px;
        display: block;
      }
    }

    &::after{
      content: '';
    	width: 0;
    	height: 0;
    	border-left: 75px solid transparent;
    	border-right: 75px solid transparent;
    	border-top: 18px solid white;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  .bottom{
    background-image: url('imgs/hunting.png');
    @include background(center center, contain, no-repeat);
    padding: 15px 10px;
    text-align: justify;
  }


.carousel{

  .carousel-indicators{
    li{
      // background-color:
    }
  }
  .item{
    img{
      max-height: 400px;
    }
  }
}

footer{
  z-index: 9999;
  position: relative;
  color: black;

  a{
    color: black;
    text-decoration: underline;
  }
}
