
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Oswald:400,700|Playfair+Display';

body{
  // background-image: url('dist/imgs/bg-color.jpg');
//   background: rgba(36,95,105,1);
// background: -moz-linear-gradient(top, rgba(36,95,105,1) 0%, rgba(36,95,105,1) 0%, rgba(43,138,157,1) 50%);
// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,95,105,1)), color-stop(0%, rgba(36,95,105,1)), color-stop(50%, rgba(43,138,157,1)));
// background: -webkit-linear-gradient(top, rgba(36,95,105,1) 0%, rgba(36,95,105,1) 0%, rgba(43,138,157,1) 50%);
// background: -o-linear-gradient(top, rgba(36,95,105,1) 0%, rgba(36,95,105,1) 0%, rgba(43,138,157,1) 50%);
// background: -ms-linear-gradient(top, rgba(36,95,105,1) 0%, rgba(36,95,105,1) 0%, rgba(43,138,157,1) 50%);
// background: linear-gradient(to bottom, rgba(36,95,105,1) 0%, rgba(36,95,105,1) 0%, rgba(43,138,157,1) 50%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#245f69', endColorstr='#2b8a9d', GradientType=0 );

background-color: #0d6c79;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;

  color: white;

  // &::after{
  //   content: '';
  //   position: absolute;
  //   height: 600px;
  //   width: 100%;
  //   bottom: 0;
  //   background-size: cover;
  //   background-position: bottom;
  //   background-repeat: no-repeat;
  //   background-image: url("imgs/bg-mountainrange.png");
  // }
}

#content{
  height: 65vh;
  overflow: scroll;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
}

header{
  .menu{
    ul{
      list-style-type: none;
      li{
        display: inline;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        padding: 10px;

        a{
          color: white;
        }
      }
    }
  }
}

img{
  width: 100%;
}

#logo{
  margin: 40px auto;
  display: block;
  max-width: 100px;
}

@font-face {
    font-family: BebasBold;
    src: url('fonts/bebasneue_bold.otf');
}

.col-md-6{
  h2{
    font-family: BebasBold;
    font-size: 155px;
    text-align: center;
    line-height: 145px;

    span{
      font-size: 170px;
    }
  }
}

footer{
  a{
    color: white;
    text-decoration: underline;
  }
}
